.{
  background-color: #6dfde5;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.pp{
  background-color: #e4941c;
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
}

.Row {
  margin: 5px;
}